@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@keyframes fromUp {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.palettes {
    color: #18293b;
    color: #0078E3;
    color: #4ADEDE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
    color: black;
}

nav {
    display: flex;
    height: 120px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins';
}

nav .logo:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0px 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-weight: 300;
    padding: 8px 10px;
    border-radius: 5px;
    animation: fromUp 0.3s;
    font-family: 'Poppins';
}

nav ul li a.active,
nav ul li a:hover {
    text-decoration: underline;
    color: #E8306C;
    /* background: black; */
}

nav ul li a.active {
    font-weight: 700;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.content {
    text-align: center;
    width: 100%;
    padding: 30px;
    color: black;
    /* min-height: calc(100vh - 150px); */
}

#wlcm {
    font-size: 60px;
    font-weight: 700;
}

#clctn {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: -20px;
    margin-top: 10px;
}

.cards {
    width: 80%;
    margin: auto;
}


/* footer {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
} */

.grid {
    margin: 30px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
}

.grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

.grid>article:hover {
    transition: transform .3s ease-in-out;
    transform: scale(1.05);
}

.grid>article img {
    width: 100%;
    border-radius: 10px;
}

.text {
    padding: 5px 20px;
}

.text>h3 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
}

.text>button {
    cursor: pointer;
    background: linear-gradient(10deg, #541D7A, #E8306C);
    border-radius: 3px;
    border: 0;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
    nav .logo {
        font-size: 40px;
    }
    nav .menu-btn i {
        display: block;
        color: black;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 120px;
        left: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 32px;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active {
        background: none;
        font-size: 40px;
        font-weight: 600;
    }
    nav ul li a:hover {
        background: none;
        color: #E8306C;
        font-size: 40px;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }
}

@media (max-width: 768px) {
    /* .grid {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    } */
    .cards {
        width: 100%;
    }
    #clctn,
    #wlcm {
        margin-bottom: 0;
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    /* .grid {
        grid-template-columns: 1fr;
        margin: 0;
    } */
    .grid>article {
        text-align: center;
    }
    .cards {
        width: 100%;
    }
}